---
title: Welcome
bodyClass: home overview
---

{% include header.html %}

        <!-- Add your site or application content here -->
        <div class="page-wrapper">
            
            <header class="hero-header">
                <div class="logo-header">
                    <h1 class="logo large">Responsify WP</h1>
                    <h2 class="slogan">Cares about responsive images. So should you</h2>
                    <a href="https://wordpress.org/plugins/responsify-wp/" class="button">Download</a>
                </div>
            </header>
            
            <section class="content">
               
                {% include main_menu.html %}
                
                <article id="plug-and-play" class="feature-section">
                    <header class="feature-section-header">
                        <h1>Responsive images.<br>Plug and play</h1>
                    </header>
                    <p>Responsify WP finds all images inside <b>the_content()</b> and makes them responsive.</p>
                    <div class="row">
                        <div class="col-2">
                            <h2>Before</h2>
<code>
{% highlight html %}
<article>
    <h1>Hello world</h1>
    <p>Lorem ipsum dolor sit amet...</p>
    <img src="[full-size-image]" alt="Image description">
</article>
{% endhighlight %}
</code>
                        </div>
                        <div class="col-2 last">
                            <h2>After</h2>
<code>
{% highlight html %}
<article>
    <h1>Hello world</h1>
    <p>Lorem ipsum dolor sit amet...</p>
    <img sizes="100vw" 
        srcset="[thumbnail] 150w,
        [medium-size-image] 300w,
        [large-size-image] 1024w,
        [full-size-image] <image-width>"
        alt="Image description">
</article>
{% endhighlight %}
</code>
                        </div>
                    </div>
                </article>

                <article id="image-or-picture" class="feature-section">
                    <header class="feature-section-header">
                        <h1>Image. Or picture</h1>
                    </header>
                    <p>Use <strong>img</strong> with <strong>srcset/sizes</strong> attributes. Or the <strong>picture</strong> element. Responsify WP supports both.</p>
                    <div class="row">
                        <div class="col-2">
                            <h2>img[srcset/sizes]</h2>
<code>
{% highlight html %}
<img sizes="100vw" 
        srcset="[thumbnail] 150w,
        [medium-size-image] 300w,
        [large-size-image] 1024w,
        [full-size-image] <image-width>"
        alt="Image description">
{% endhighlight %}
</code>
                        </div>
                        <div class="col-2 last">
                            <h2>picture</h2>
<code>
{% highlight html %}
<picture>
    <source srcset="[full-size-image]" media="(min-width: 1024px)">
    <source srcset="[large-size-image]" media="(min-width: 300px)">
    <source srcset="[medium-size-image]" media="(min-width: 150px)">
    <img srcset="[thumbnail" alt="Image description">
</picture>
{% endhighlight %}
</code>
                        </div>
                    </div>
                </article>

                <article id="handpick-sizes" class="feature-section">
                    <div class="row">
                        <div class="col-3">
                            <h2>Handpick sizes</h2>
<code>
{% highlight php %}
<?php

// Using get_posts()
$posts = get_posts( array(
    'post_type' => 'portfolio',
    'rwp_settings' => array(
        'sizes' => array('large', 'full')
    )
) );
foreach ( $posts as $post ) {
    // ...
}
?>
{% endhighlight %}
</code>
                        </div>
                        <div class="col-3">
                            <h2>Custom media queries</h2>

                        </div>
                        <div class="col-3 last">
                            <h2>Picture::create()</h2>
                        </div>
                    </div>
                </article>

            </section>

            <section id="call-to-action">
                <h1>Start caring</h1>
                <a href="https://wordpress.org/plugins/responsify-wp/" class="button">Download Responsify WP</a>
                <br>
                <a href="https://wordpress.org/plugins/responsify-wp/" class="button">View on GitHub</a>
            </section>

            <footer role="contentinfo">
                <div class="row">
                    <div class="col-1">
                        Created and maintaned by <a href="http://twitter.com/stefanledin">@stefanledin</a>
                    </div>
                </div>
            </footer>

        </div>
        
{% include footer.html %}