---
---

/**
 * Imports
 */
@import "normalize";
@import "boilerplate";
@import "syntax";

/**
 * Variables
 */

/* Colors */
$red: #a40c0b;
$orange: #d54e21;
$grey: #464646;

/* Typography */
$font: 'Exo', sans-serif;

/* Media queries */
$tablet: 600px;

/**
 * Mixins
 */
@mixin button {
	display: inline-block;
	padding: 5px;
	background-color: $orange;
	background-image: -webkit-linear-gradient(top, $orange, $red);
	background-image: linear-gradient(to bottom, $orange, $red);
	border: 1px solid $grey;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	font-family: $font;
	&:hover {
		background-color: $grey;
		background-image: -webkit-linear-gradient(top, $grey, black);
		background-image: linear-gradient(to bottom, $grey, black);
		border: 1px solid black;
	}
	@media (min-width: $tablet) {
		padding: 10px;
	}
}

@mixin center-block {
	margin: 0 auto;
	display: block;
}

/**
 * Grid
 */
.page-wrapper {
	z-index: 1;
	position: relative;
}

.row {

	/* Clearfix */
	&:before,
	&:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}
	&:after {
	    clear: both;
	}

	.last {
		margin-right: 0;
	}
}

.col-3 {
	@media (min-width: $tablet) {
		margin-right: 3.3%;
		width: 30%;
		float: left;
	}
}

.col-2 {
	@media (min-width: $tablet) {
		margin-right: 2.5%;
		width: 47.5%;
		float: left;
	}
}

.col-1 {
	margin: 0 auto;
	width: 95%;
}

/**
 * Globals
 */
body {
	background: $red;
	color: $grey;
}

img {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5 {
	font-family: $font;
	color: $grey;
}
h1 {
	margin-top: 0;
	font-size: 2em;
	text-align: center;
	@media (min-width: $tablet) {
		font-size: 2.250em;
	}
}
h2 {
	margin: 0;
	font-size: 1.750em;
	text-align: center;
	@media (min-width: $tablet) {
		font-size: 2.1em;
	}
}
h3 {
	font-size: 1.5em;
	@media (min-width: $tablet) {
		font-size: 1.5em;
	}
}
h4 {
	font-size: 1.125em;
	@media (min-width: $tablet) {
		font-size: 1.125em;
	}
}
h5 {
	font-size: 1em;
}

.button {
	@include button;
	@include center-block;
	max-width: 80px;
	text-align: center;
}

.logo {
	margin: 0;
	font-family: $font;
	font-weight: bold;
	font-style: italic;
	font-size: 2.250em;
	color: white;
	text-align: center;
	&.large {
		@media (min-width: $tablet) {
			font-size: 6em;
		}
	}
	&.small {
		@media (min-width: $tablet) {
			font-size: 3em;
		}
	}
}

.inner {
	padding: 10px;
}

/* Navigation */
nav[role="navigation"] {
	margin-bottom: 20px;
	background: $grey;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	ul {
		margin: 0;
		padding: 0;
		text-align: center;
	}
	li {
		margin: 0;
		padding: 0;
		display: inline-block;
	}
	a {
		border-right: 1px solid black;
		display: block;
		padding: 10px;
		font-size: 0.875em;
		font-family: $font;
		text-decoration: none;
		color: white;
		&:hover {
			background: black;
		}
		@media (min-width: $tablet) {
			padding: 10px 20px;
			font-size: 1.125em;
		}
	}
	li:last-child a {
		border-right: none;
	}
}

/* Footer */
footer[role="contentinfo"] {
	padding: 20px 0;
	color: white;
	text-align: center;
	a, a:visited {
		color: white;
		text-decoration: underline;
	}
	a:hover {
		color: black;
	}

}

/* Background effect */
#background-effect {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	.background-device {
		background: rgba(255, 255, 255, .1);
		position: absolute;
		top: 0;
		left: 0;
	}
}
.iphone-4 {
	&.portrait { width: 320px; height: 480px; }
	&.landscape { width: 480px; height: 320px; }
}
.iphone-5 {
	&.portrait { width: 320px; height: 568px; }
	&.landscape { width: 568px; height: 320px; }
}
.ipad {
	&.portrait { width: 768px; height: 1024px; }
	&.landscape { width: 1024px; height: 768px; }
}
.tablet {
	&.portrait { width: 800px; height: 600px; }
	&.landscape { width: 600px; height: 800px; }
}
.desktop {
	&.portrait { width: 1280px; height: 900px; }
	&.landscape { width: 900px; height: 1280px; }
}

code {
	font-size: 0.875em;
	.highlight {
		padding: 0 5px;
	}
}

/**
 * Home
 */

/* Header */
.logo-header {
	margin-bottom: 1.688em;
	@media (min-width: $tablet) {
		margin-bottom: 293px;
	}
	.logo {
		margin-top: 20px;
		@media (min-width: $tablet) {
			margin-top: 293px;
		}
	}
	.slogan {
		margin: 0 0 1.688em 0;
		font-family: $font;
		font-size: 0.875em;
		font-weight: 700;
		color: white;
		text-align: center;
		@media (min-width: $tablet) {
			font-size: 1.563em;
		}
	}
}

section.content {
	background: rgba(255, 255,255, .9);
}

/* Feature section */
.feature-section {
	margin: 0 auto 40px auto;
	padding: 0 0 40px 0;
	width: 95%;
	max-width: 1170px;
	border-bottom: 1px solid white;
}

/* Sections */
#call-to-action {
	h1 {
		font-family: $font;
		color: white;
		text-align: center;
	}
	.button {
		max-width: 190px;
	}
}

/**
 * Pages
 */

/* Header */
.page-header {
	.logo {
		text-align: left;
	}
}

/* Submenu */
.sub-menu {
	.inner {
		padding-top: 0;
	}
	@media (min-width: 700px) {
		width: 25%;
		float: left;
	}
	.menu-items {
		margin-top: 0;
		margin-bottom: 0;
		border: 1px solid $grey;
	}
	ul {
		padding-left: 15px;
	}
	li {
		list-style: none;
	}
	a {
		display: block;
		padding: 5px 0;
		font-family: $font;
		font-size: 1em;
		color: white;
		text-decoration: none;
		&:hover {
			color: $grey;
		}
		@media (min-width: 700px) {
			font-size: 0.875em;
		}
		@media (min-width: 800px) {
			font-size: 1em;
		}
		@media (min-width: 1100px) {
			font-size: 1.125em;
		}
	}
}

body.documentation {
	h2 {
		text-align: left;
	}
	.content {
		margin: 0 auto 20px auto;
		width: 95%;
		@media (min-width: 700px) {
			max-width: 800px;
			width: 75%;
			float: left;
		}
	}
}
